<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snapjob_user">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utils.Home"
        android:allowBackup="true"
        android:icon="@drawable/logo_official"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewReviews"></activity>
        <activity android:name=".WorkerRating" />
        <activity android:name=".TransactionHistory" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".WaitingRequest" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".TransactionClass" />
        <activity
            android:name=".WorkerDetails"
            android:label="Worker Details"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EditProfile" />
        <activity android:name=".Addresses" />
        <activity android:name=".WorkProgress" />
        <activity android:name=".Receipt" />
        <activity
            android:name=".HomePage"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterUser"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Services.MyFirebaseMessagingServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>